# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

Objectives:
+ Popular Lanuages in Data Sciences.
+ Commonly used Libraries.
+ Some arithmatic operations

Some of the popular languages that Data Scientists use are:

1. R Programming
2. Python
3. Julia
4. SQL
5. Scala

Some of the commonly used libraries used by Data Scientists include:

1. Pandas
2. Numpy
3. Seaborn
4. Matplotlib
5. SciPy

|Data science Tools|
|------------------|
    |Anaconda|
    |Jupyter Notebooks|
    |PyCharm|

### Below are a few examples of evaluating arithmetic expressions in Python

In [ ]:
#This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

In [3]:
# This will convert 200 minutes to hours by diving by 60
(200/60)

3.3333333333333335

## AUTHOR
Niranjankaushik M